<h1>Listings - eager load</h1>

<table>
    <thead>
        <tr>
            <th>Listing name</th>
            <th>Price</th>
            <th>Owner</th>
            <th>Owner address</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <% @listings.each { |listing| %>
            <tr>
                <td><%= listing.name %></td>
                <td><%= listing.price %></td>
                <td><%= listing.user.name %></td>
                <td><%= listing.user.address.street %></td>
                <td><%= image_tag listing.image %></td>
            </tr>
        <% } %>
    </tbody>
</table>